/* GENERICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-width: 1200px;
}

.debug {
    border: 2px dashed black;
}


header {
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background-color: orange;
}

header + * {
    padding-top: 50px;
}

.container {
    margin: auto;
    max-width: 80%;
}

/* HEADER------------------------------- */
.header-left, .header-mid, .header-right{
    display: inline-block;
}

.header-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: small;
}

.logo {
    height: 25px;
}

/* MAIN ---------------------------------------------------*/
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.card {
    width: calc(100% / 3 - 4px);
    margin-top: 30px;
    text-align: left;
    position: relative;
}

.card img {
    width: 100%;
}

.brand {
    font-size: small;
}

.item {
    font-weight: bold;
}

.price {
    font-weight: bold;
    color: red;
    font-size: small;
}

.old-price {
    font-weight: 400;
    text-decoration: line-through;
    color: black;
    font-size: small;
}

.stats {
    position: absolute;
    bottom: 100px;
    text-align: center;
}

.discount, .type {
    padding: 4px 7px;
    font-size: small;
}

.discount{
    background-color: red;
}

.type {
   background-color: green;
   color: white;
}

/* FOOTER----------------------------------------- */
footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    font-weight: bold;
    padding: 20px 0;
}

.info {
    display: inline-block;
    font-size: small;
    font-weight: bold;
}

.social {
    font-size: xx-small;
}
