/* GENERICS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
}

.debug {
    border: 2px dashed black;
}


header {
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
    background-color: orange;
}

header + * {
    padding-top: 50px;
}

.container {
    margin: auto;
    max-width: 80%;
}

main {
    background-color: blue;
    height: 2000px;
}


/* HEADER------------------------------- */
.header-left, .header-mid, .header-right{
    display: inline-block;
}

.header-container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
}

.logo {
    height: 25px;
}

/* MAIN ---------------------------------------------------*/
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.card {
    background-color: red;
    width: calc(100% / 3 - 4px);
    min-width: 300px;
    margin-top: 30px;
    text-align: center;
}

.card img {
    width: 100%;
}
